L /usr/local/bin/kubectl - - - - /var/lib/containers/atomic/${NAME}/rootfs/usr/bin/kubectl
L /usr/local/bin/kubeadm - - - - /var/lib/containers/atomic/${NAME}/rootfs/usr/bin/kubeadm
d    /etc/kubernetes - - - - -
d    /etc/cni - - - - -
d    /var/lib/kubelet - - - - -
